# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\EAGB22\Documents\Nearsoft Academy\Reset Phase 28-Sep - 26-Oct\Big-Data-Exercises\academy-exercises\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
